---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Technologies from "../components/Technologies.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Desarrollador de software con experiencia en el desarrollo de aplicaciones
    web, mi pasión radica en crear soluciones digitales innovadoras y
    funcionales. Con amplios conocimientos en el desarrollo de aplicaciones web
    personalizadas y un profundo dominio de tecnologías como JavaScript, Python,
    Astro, Gatsby y frameworks como React, Bootstrap entre otros, estoy
    preparado para enfrentar los desafíos más exigentes que el cliente tenga. Mi
    enfoque se basa en la colaboración efectiva y el trabajo en equipo,
    utilizando metodologías ágiles para entregar proyectos de alta calidad de
    manera oportuna. Siempre me esfuerzo por resolver problemas técnicos
    complejos y presto atención a los detalles para desarrollar soluciones
    robustas y escalables. Mantengo un constante aprendizaje y me mantengo
    actualizado con las últimas tendencias y avances tecnológicos para ofrecer
    soluciones de vanguardia. Estoy comprometido a brindar resultados
    excepcionales y superar las expectativas de los clientes en cada proyecto.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Técnico Profesional en Programación de Aplicaciones de Software"
      subtitle="Febrero 2023 a Diciembre 2024 en Universidad Compensar, Bogotá, Colombia"
    />
    <TimeLineElement
      title="Diplomado en Desarrollo de Aplicaciones Web"
      subtitle="Febrero 2022 a Diciembre 2022 en Universidad Tecnológica de Pereira, Bogotá, Colombia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Desarrollador de Aplicaciones Web Freelance"
      subtitle="De Junio 2021 a la Actualidad en Freelancer, Bogotá, Colombia"
    >
      Como desarrollador Freelance, ofrezco servicios de desarrollo de software
      personalizados para satisfacer las necesidades individuales de mis
      clientes. Trabajo estrechamente con ellos para comprender sus objetivos y
      requerimientos, y luego utilizo mi experiencia en desarrollo web para
      crear soluciones técnicamente sólidas y funcionales. Desde el diseño y
      desarrollo de aplicaciones web hasta la optimización del rendimiento y la
      resolución de problemas técnicos. como Freelancer mi objetivo es brindar
      soluciones tecnológicas efectivas y satisfacer las expectativas de mis
      clientes en cada proyecto.
    </TimeLineElement>
    <TimeLineElement
      title="Soporte Técnico"
      subtitle="De Febrero 2020 a la Actualidad en Securitas Colombia, Bogotá, Colombia"
    >
      Brindar soluciones a nivel 1 en forma remota a clientes de centros de
      control con prioridad de resolver sus requerimientos gestionando el
      software de seguridad electrónica Genetec. Gestor de bases de datos SQL
      haciendo uso del motor SQLite.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://certificadomisionticutp.com/apiv1/public/docs/3/_1101694823-.pdf"
        target="_blank"
      >
        Diplomado en Desarrollo de software - Ministerio de las TIC</a
      >
    </li>
    <li>
      <a
        href="https://platzi.com/p/CarlDesigner/curso/2807-aprender-data-ia/diploma/detalle/"
        target="_blank"
      >
        Data Science e Inteligencia Artificial - Apps.co & Platzi</a
      >
    </li>
    <li>
      <a
        href="https://certificadomisionticutp.com/apiv1/public/docs/1/_1101694823-.pdf"
        target="_blank"
      >
        Diplomado en Programación con Python - Universidad Tecnológica de
        Pereira</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/1ff5ae2f-f9f6-47b8-8f5e-782ebb4fb88b/public_url"
        target="_blank"
      >
        Fundamentos en Ciberseguridad - IBM</a
      >
    </li>
    <li>
      <a
        href="https://oferta.senasofiaplus.edu.co/sofia-oferta/certificaciones.html"
        target="_blank"
      >
        Programación de Sistemas Informáticos - Sena</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>React JS</li>
    <li>Bootstrap</li>
    <li>Hugo</li>
    <li>Gatsby</li>
    <li>Astro</li>
    <li>MySQL</li>
    <li>SQLite</li>
    <li>MongoDB</li>
    <li>Firebase</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>npm</li>
  </ul>
</BaseLayout>
