---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">

<div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola </div>
    <div class="text-5xl font-bold">Soy Carlos Fajardo</div>
    <div class="text-3xl py-3 font-bold">Desarrollador de Software Entusiasta</div>
    <div class="py-2">
      <text class="text-lg">
        Programador <b>especializado</b> en soluciones innovadoras y eficientes. Mi objetivo es crear experiencias digitales excepcionales que impulsen el 茅xito de mis clientes.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://github.com/CarlDesigner" target=""> Conect茅monos!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis 煤ltimos proyectos</div>
  </div>

  <HorizontalCard
    title="Aromia Perfumeria"
    img="https://res.cloudinary.com/do66lfayc/image/upload/v1686549657/Portfolio/imgProyectos/Aromia_ef3ttx.jpg"
    desc="Tienda en linea para una perfumeria que ofrece fragancias exclusivas e importadas de muy buena calidad."
    url="https://aromia.vercel.app/"
    badge="NUEVO"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Formulario de env铆o"
    img="https://res.cloudinary.com/do66lfayc/image/upload/v1686548988/Portfolio/imgProyectos/Formulario_t24opa.jpg"
    desc="Formulario de envio de informaci贸n, esta informaci贸n se almacena en una base de datos en tiempo real en Firebase haciendo uso de Firestore."
    url="https://enviodatos.netlify.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Moira Couture"
    img="https://res.cloudinary.com/do66lfayc/image/upload/v1686548613/Portfolio/imgProyectos/Moira_ncfzrf.jpg"
    desc="Moira Couture es un proyecto desarrollado con Reac y el Stack MERN, hace parte del Diplomado de Misi贸n TIC 2022 y la Universidad Tecnol贸gica de Pereira."
    url="https://moira-couture.vercel.app/"
    badge=""
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Ultimos Post del Blog</div>
  </div>
  
  <HorizontalCard
    title="Aprende HTML5 de una vez por todas"
    img="https://unsimpleprogramador.vercel.app/_astro/aprendehtml5_zq6d5u_289QjJ.avif"
    desc="隆Bienvenidos a la gu铆a de HTML5 para desarrolladores web autodidactas!."
    url="https://unsimpleprogramador.vercel.app/blog/aprede-html5"
    badge="NUEVO"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="6 Consejos para aprender a programar si eres autodidacta"
    img="https://unsimpleprogramador.vercel.app/_astro/6consejos_mdbqs3_1TpQv5.avif"
    desc="Aprender a programar suele ser un proco frustrante al inicio, Aqu铆 hay algunos consejos que puedes considerar si quieres iniciar en la programaci贸n siendo un autodidacta.."
    url="https://unsimpleprogramador.vercel.app/blog/6consejos"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hola Mundo! :)"
    img="https://unsimpleprogramador.vercel.app/_astro/pilot_em6kql_2n57TY.avif"
    desc="隆Esta secci贸n es una prueba! Antes de publicar nuestro blog de programaci贸n, queremos asegurarnos de que todo se vea y funcione correctamente. Por lo tanto, estamos realizando algunas pruebas para asegurarnos de que nuestro contenido se vea bien y sea f谩cil de leer."
    url="https://unsimpleprogramador.vercel.app/blog/piloto"
    badge=""
  />

  <!--{
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>

