---
import Experience from "../components/experience/index.astro";
import { EXPERIENCE } from "../data/experience";
import Layout from "../layouts/Layout.astro";
import { PROJECTS } from "../data/projects";
import Project from "../components/projects/index.astro";
import { SOCIALS } from "../data/socials";
---

<Layout title="Carlos Fajardo">
  <div id="hero" class="relative hero z-10">
    <div
      class="mx-auto min-h-screen max-w-screen-2xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0"
    >
      <div class="lg:flex lg:justify-between lg:gap-4">
        <header
          class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
        >
          <div
            class="flex lg:items-start gap-4 flex-col lg:flex-row items-center text-center lg:text-left"
          >
            <img
              src="/carlosfajardo.webp"
              alt="Vadim Rusin"
              class="w-40 h-40 rounded-3xl"
            />
            <div>
              <a
                href="/"
                class="text-4xl lg:text-5xl block font-bold tracking-tight bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50"
              >
                <h1>Carlos Fajardo</h1>
              </a>
              <h2 class="mt-2 text-sm lg:text-lg font-medium text-neutral-400">
                Desarrollador Web / E-commerce
              </h2>

              <a
                data-ccursor
                href="https://wa.me/573202028049?text=Hola%2C%20me%20interesa%20tu%20trabajo"
                target="_blank"
                class="inline-flex transition-all border-neutral-700 hover:border-opacity-0 border-opacity-50 shadow rounded-md border backdrop-blur-xl bg-neutral-400/10 px-3 py-2.5 items-center text-white font-semibold group p-2 text-sm gap-x-2 mt-4"
              >
                <span>Contáctame</span>
                <sapn
                  class="w-2 h-2 rounded-full bg-green-400 duration-1000 animate-pulse"
                >
                </sapn>
              </a>
            </div>
          </div>

          {
            SOCIALS.length && (
              <ul
                class="mt-8 flex items-center justify-center lg:justify-normal gap-x-5"
                aria-label="Social media"
              >
                {SOCIALS.map((social) => (
                  <a
                    href={social.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={social.name}
                    class="text-xs p-2 rounded"
                  >
                    <social.icon class="w-5 h-5" />
                  </a>
                ))}
              </ul>
            )
          }
        </header>

        <main id="content" class="pt-24 lg:w-1/2 lg:py-24">
          <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only"
              >
                Sobre mí
              </h2>
            </div>
            <div>
              <div class="mb-4 space-y-4">
                <p>
                  Con más de 5 años de experiencia, soy especialista en tiendas
                  online y sitios web modernos. Ayudo a emprendedores y marcas a
                  tener presencia digital con soluciones efectivas y
                  personalizadas. Escríbeme y desarrollaré tu proyecto web para
                  que vendas más y mejores tu presencia online.
                </p>

                <p>
                  Mi misión es impulsar tu negocio con soluciones que realmente
                  funcionan, conectan con tus clientes y venden.
                </p>
              </div>
            </div>
          </section>

          <section
            id="experience"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Work experience"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200"
              >
                Experiencia
              </h2>
            </div>
            <div>
              <ol class="group/list space-y-12">
                {EXPERIENCE.map((experience) => <Experience {...experience} />)}
              </ol>

              <div class="mt-12">
                <a
                  data-ccursor
                  class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                  aria-label="View Full Résumé"
                  target="_blank"
                  rel="noreferrer noopener"
                  href="./resume.pdf"
                >
                  <span>
                    <span
                      class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                    >
                      Ver CV
                    </span>
                    <span class="whitespace-nowrap">
                      <span
                        class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                      >
                        Completo
                      </span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
                        aria-hidden="true"
                        ><path
                          fill-rule="evenodd"
                          d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                          clip-rule="evenodd"></path></svg
                      ></span
                    ></span
                  ></a
                >
              </div>
            </div>
          </section>

          
          <section
            id="projects"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Proyectos"
          >
            <div
              class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-3 backdrop-blur-lg md:-mx-12 md:px-12 lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
            >
              <h2
                class="text-sm font-bold uppercase tracking-widest text-neutral-200"
              >
                Proyectos
              </h2>
            </div>
            <div>
              <ol class="group/list space-y-12">
                {PROJECTS.map((project) => <Project {...project} />)}
              </ol>

              <div class="mt-12">
                <a
                  data-ccursor
                  class="inline-flex items-center leading-tight text-neutral-200 font-semibold group p-2 rounded px-3"
                  aria-label="Ver más proyectos en GitHub"
                  target="_blank"
                  rel="noreferrer noopener"
                  href="https://github.com/CarlDesigner"
                >
                  <span>
                    <span
                      class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                    >
                      Ver más
                    </span>
                    <span class="whitespace-nowrap">
                      <span
                        class="border-b border-transparent pb-px transition group-hover:border-neutral-300 motion-reduce:transition-none"
                      >
                        Proyectos
                      </span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="ml-1 inline-block h-4 w-4 shrink-0 -translate-y-px transition-transform group-hover:translate-x-2 group-focus-visible:translate-x-2 motion-reduce:transition-none"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </section>

          <footer class="max-w-md pb-16 text-sm text-neutral-500 sm:pb-0">
            <p>
              Diseñado en
              <a
                href="https://www.figma.com/"
                class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
                target="_blank"
                rel="noreferrer">Figma</a
              >
              y codificado en
              <a
                href="https://code.visualstudio.com/"
                class="font-medium text-neutral-400 hover:text-red-300 focus-visible:text-red-300 hover:underline"
                target="_blank"
                rel="noreferrer">Visual Studio Code</a
              >
            </p>
          </footer>
        </main>
      </div>
    </div>
  </div>

  <!-- <footer class="text-center py-4 text-xs">
    {new Date().getFullYear()} All rights reserved.
  </footer> -->
  <footer class="text-center py-4 text-xs text-neutral-500">
    © {new Date().getFullYear()} CarDesigner. Todos los derechos reservados.
  </footer>
</Layout>

<style scoped>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hero {
    background-image: url(/pattern.svg);
    background-position: top center;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: clip;
  }

  /*
  .hero {
    animation: fadeIn 3s;
  }
   */
</style>
