---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos mas Recientes</div>
  </div>

  <HorizontalCard
    title="Aromia Perfumeria"
    img="https://res.cloudinary.com/do66lfayc/image/upload/v1686549657/Portfolio/imgProyectos/Aromia_ef3ttx.jpg"
    desc="Tienda en linea para una perfumeria que ofrece fragancias exclusivas e importadas de muy buena calidad."
    url="https://aromia.vercel.app/"
    badge="NUEVO"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Formulario de envío"
    img="https://res.cloudinary.com/do66lfayc/image/upload/v1686548988/Portfolio/imgProyectos/Formulario_t24opa.jpg"
    desc="Formulario de envio de información, esta información se almacena en una base de datos en tiempo real en Firebase haciendo uso de Firestore."
    url="https://enviodatos.netlify.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Algunos de mis Proyectos</div>
  </div>

  <HorizontalCard
    title="Moira Couture"
    img="https://res.cloudinary.com/do66lfayc/image/upload/v1686548613/Portfolio/imgProyectos/Moira_ncfzrf.jpg"
    desc="Moira Couture es un proyecto desarrollado con Reac y el Stack MERN, hace parte del Diplomado de Misión TIC 2022 y la Universidad Tecnológica de Pereira."
    url="https://moira-couture.vercel.app/"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Encriptador de Texto"
    img="https://encriptext.vercel.app/img/Mu%C3%B1eco.png"
    desc="Un Encriptador de texto, desarrollado con HTML5, CSS3 y JavaScript, Este proyecto hace parte del programa One (Oracle Next Education) y Alura Latam"
    url="https://encriptext.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Secure Password Generator"
    img="https://www.bhutanpythoncoders.com/wp-content/uploads/2021/07/Password-generator-1024x576.jpg"
    desc="Aplicación de escritorio que genera contraseña seguras, desarrollado con Python 3, Tkinter y Pyperclip."
    url="https://github.com/CarlDesigner/SecurePasswordGenerator"
  />
</BaseLayout>
